{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div class="container mt-2">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-6 text-left">
				<img class="rounded-circle" width="60" height="60" src="{{ app.user.avatar }}" alt="{{ app.user.name }}">
				<span><strong class="text-success">{{ app.user.name }}</strong></span>
			</div>
			<div class="col-6 text-right">
				<a href="{{ path('app_logout') }}" onclick="return window.confirm('Are you sure you want to sign out?')" class="btn btn-danger btn-sm">Sign out</a>
			</div>
		</div>
	</div>
	<hr>
	<div id="root" class="data" data-user="{{ app.user.id }}"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}