{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-4 text-left">
                <button class="btn btn-sm btn-success" onclick="window.history.back();">
                    <svg width="20" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.4927 9.93744L22.3414 1.48439C22.953 0.900137 23.9369 0.905372 24.5358 1.49607L25.9912 2.91633C26.5965 3.50706 26.5915 4.45704 25.9799 5.03505L19.7078 11.0268L25.9158 17.0849C26.5211 17.6756 26.5161 18.6256 25.9045 19.2036L24.4405 20.6208C23.8289 21.2051 22.845 21.1998 22.2461 20.6092L13.4879 12.0624C12.8761 11.4717 12.8811 10.5217 13.4927 9.93744V9.93744ZM1.05301 11.9963L9.81123 20.543C10.4166 21.1337 11.4005 21.139 12.0056 20.5547L13.4761 19.15C14.0877 18.5657 14.0927 17.6157 13.4873 17.0313L7.27929 10.9731L13.5514 4.98143C14.163 4.39717 14.1681 3.44719 13.5627 2.86271L12.1073 1.44245C11.502 0.851717 10.518 0.846483 9.91291 1.43077L1.06424 9.88382C0.452711 10.4556 0.447657 11.4056 1.05301 11.9963Z" fill="white"/>
                    </svg>
                    back
                </button>
            </div>
            <div class="col-4 text-center">
                <img class="rounded-circle" width="60" height="60" alt="{{ app.user.name }}"
                src="{{ asset( app.user.picture ? 'uploads/users/' ~ app.user.picture  : '/build/images/default-avatar.jpeg') }}">
                <span><strong class="text-success">{{ app.user.name }}</strong></span>
            </div>
            <div class="col-4 text-right">
                <a href="{{ path('user_logout') }}" onclick="return window.confirm('Are you sure you want to sign out?')" class="btn btn-danger btn-sm">
                    logout <svg width="20" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5194 12.0625L4.71584 20.5625C4.10736 21.15 3.12343 21.15 2.52142 20.5625L1.05847 19.15C0.449991 18.5625 0.449991 17.6125 1.05847 17.0313L7.29865 11.0063L1.05847 4.98126C0.449991 4.39376 0.449991 3.44376 1.05847 2.86251L2.51495 1.43751C3.12343 0.850012 4.10736 0.850012 4.70937 1.43751L13.5129 9.93751C14.1279 10.525 14.1279 11.475 13.5194 12.0625V12.0625ZM25.948 9.93751L17.1444 1.43751C16.5359 0.850012 15.552 0.850012 14.95 1.43751L13.487 2.85001C12.8786 3.43751 12.8786 4.38751 13.487 4.96876L19.7272 10.9938L13.487 17.0188C12.8786 17.6063 12.8786 18.5563 13.487 19.1375L14.95 20.55C15.5585 21.1375 16.5424 21.1375 17.1444 20.55L25.948 12.05C26.5565 11.475 26.5565 10.525 25.948 9.93751Z" fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div id="root" class="data" data-user="{{ app.user.id }}"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}