{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 <div class="container">
       {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.avatar, {attr: {placeholder: 'https://randomuser.me/api/portraits/med/men/77.jpg', value:'https://randomuser.me/api/portraits/med/men/55.jpg'}}) }}
        {{ form_row(registrationForm.name, {attr: {placeholder: 'Name ....', value: 'Fer'}}) }}
        {{ form_row(registrationForm.email,{attr: {value: 'fer@gmail.com'}}) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
 </div>
{% endblock %}
