<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Chat App With Symfony And ReactJS">
    <meta property="og:description" content="Using SEE and Mercure Protocol.">
    <meta property="og:image" content="{{ absolute_url(asset('build/images/chatapp.png')) }}">
    <meta property="og:url" content="{{ absolute_url('/') }}">
   

    <meta name="twitter:title" content="Chat App With Symfony And ReactJS">
    <meta name="twitter:description" content=" Using SEE and Mercure Protocol.">
    <meta name="twitter:image" content="{{ absolute_url(asset('build/images/chatapp.png')) }}">
    <meta name="twitter:card" content="{{ absolute_url('/') }}">

    <title>{% block title %}Chat Dev!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% for label, messages in app.flashes %}
        <div class="container-fluid">
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="alert-heading font-weight-bolder text-center"> 
                        {{ message | raw }}
                    </div>
                    <button type="button" class="close" 
                            data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}

    {% block javascripts %}
    {% endblock %}
</body>

</html>