{% extends 'base.html.twig' %}

{% block title %}Hello ConversationController!{% endblock %}

{% block body %}
    <h1>
        Conversation with 
        {% for u in conv.users %}
            {% if u != app.user %}
                <b>{{u.username}}</b>
            {% endif %}
        {% endfor %}
    </h1>
    <h4>Messages</h4>
    <div class="card">
        {% for msg in conv.messages %}
            <div><b> {{ msg.user.username }} </b>: {{ msg.content }}</div>
        {% endfor %}
    </div>

    <div class="container">
        {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button class="btn btn-primary" type="submit">Send</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
